{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}

    <div class="w3-container w3-center">
        <h1>Bienvenue <strong>{{app.user.prenom}}</strong> dans votre backoffice !</h1>
    </div>
    <!--On vérifie que le user contient l'attribut annonce pour vérifier que c'est un employeRH-->
    {% if app.user.annonces is defined %}
    <div class="w3-container w3-center">
        <h2>Liste des fonctionnalités</h2>
        <p>Ici vous pourrez ajouter des employés, des annonces mais égalemment modifier les informations d'un employé (son salaire)</p>
        <a href="{{path('app_ajout_employerh')}}" class="w3-button w3-black">Ajouter un employé RH</a>
        <a href="{{path('app_ajout_developpeur')}}" class="w3-button w3-black">Ajouter un développeur</a>
        <!--Redéfinir le path lorsque la partie annonce sera fini-->
        <a href="{{path('app_annonce')}}" class="w3-button w3-black">Ajouter une annonce</a>
        <a href="{{path('app_show_employe')}}" class="w3-button w3-black">Liste des employés</a>
    </div>
    {% endif %}

    <!--On vérifie que le user contient l'attribut annonce pour vérifier que c'est un Dev-->
    {% if app.user.equipes is defined %}
    <div class="w3-container w3-center">
        <h2>Liste des fonctionnalités</h2>
        <p>Ici vous pourrez voir vos projets en cours, votre liste de taches</p>
        <a href="{{path('app_projet')}}" class="w3-button w3-black">Ajouter un nouveau projet</a>
        <a href="{{path('app_equipe')}}" class="w3-button w3-black">Ajouter une equipe</a>
        <h2>Liste de vos projets en cours</h2>

    </div>
    {% endif %}

    {% else %}
    <!-- <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    -->

    <div class="w3-container w3-center" style="margin-left: auto; margin-right: auto; margin-top:0px; width: 70%; height: 800px; background: url({{ asset('images/stockOffice.jpg') }}) no-repeat 0 100%; background-size: cover;">
        <div class="w3-container w3-center" style="width:30%; height: 575px; border: 1px black solid;position: absolute; margin: auto; top:0; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, .9)">
            <img src="{{ asset('images/logo-noBG.png') }}" style="width: 27%; height: 22%;">
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter.</h1>
            <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w3-input w3-border" autocomplete="email" required autofocus><br>
            <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control w3-input w3-border" autocomplete="current-password" required><br>
            <button class="w3-button w3-black w3-section" type="submit" id='connexion'>
                Connexion
            </button>
            <a href="{{path('app_forgot_password_request')}}" class="w3-button w3-black">Mot de passe oublié ?</a>
        </div>
    </div>

    <!--
    <img src="{{ asset('images/stockOffice.jpg') }}" style="width: 60%; height: 60%;">
    -->

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    {% endif %}


</form>
{% endblock %}
{% block script %}
{{ encore_entry_script_tags('connexionjs') }}

{% endblock %}