{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<form method="post">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="w3-container w3-center" style="margin-left: auto; margin-right: auto; margin-top:48px; width: 70%; height: 800px; background: url({{ asset('images/stockOffice.jpg') }}) no-repeat 0 100%; background-size: 100%;">
        <div class="w3-container w3-center" style="width:30%; height: 650px; border: 1px black solid;position: absolute; margin: auto; top:0; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, .9)">
            <img src="{{ asset('images/logo-noBG.png') }}" style="width: 30%; height: 22%;">
            <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

            {{ form_start(registrationForm) }}
            <br>
            {{ form_row(registrationForm.email) }}
            <br>
            {{ form_row(registrationForm.prenom) }}
            <br>
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.plainPassword.first) }}
            {{ form_row(registrationForm.plainPassword.second) }}
            {{ form_row(registrationForm.agreeTerms) }}

            {{ form_row(registrationForm.envoyer, {label: 'Envoyer'}) }}

            {{ form_end(registrationForm) }}
        </div>
    </div>

    <!--
    <img src="{{ asset('images/stockOffice.jpg') }}" style="width: 60%; height: 60%;">
    -->

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}