{% extends 'base.html.twig' %}
{% block title %}
Projet {{projet.nomProjet}}
{% endblock %}
{% block body %}
<div class="w3-center">
    <h1>Projet <strong id="nomProjet" data-id="{{projet.id}}">{{projet.nomProjet}}</strong></h1>
    <h2>Liste des t창ches</h2>
    <ul>
        {% if projet.taches|length == 0 %}
        Le projet ne contient pas de t창che
        {% endif %}
        {% for t in projet.taches %}
        <li>{{t.nomTache}} <input type="checkbox" {% if t.estFaite == true %}checked{% endif %} data-done="{{t.estfaite}}" data-id="{{t.id}}"> <a href="">delete</a></li>
        {% endfor %}
    </ul>

    <h2>Ajouter des t창ches</h2> <input type=" text" name="tache" id="tache" placeholder="Nouvelle t창che"><input type="button" value="Ajouter">
</div>
{{ encore_entry_link_tags('projet') }}
{{ encore_entry_script_tags('projetjs') }}
{% endblock %}