{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
<div class="w3-container w3-center">
    <h1>Liste des employés</h1>
    <p>Ici vous pourrez consulter la liste des employés et modifer des informations les concernants.</p>
    <table class="w3-table w3-striped">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>RIB</th>
            <th>Nombres d'heures</th>
        </tr>
        {% for employe in employes %}
        <tr>
            <td>{{employe.nom}}</td>
            <td>{{employe.prenom}}</td>
            <td>{{employe.email}}</td>
            <td>{% if employe.rib is null %}
                Non défini
                {% else %}
                {{employe.rib}}
                {% endif %}
            </td>
            <td>{% if employe.nombreheures is null %}
                <span>
                    <button class="w3-btn w3-red">-</button>
                    <button class="w3-btn">00</button>
                    <button class=" w3-btn w3-green">+</button>
                </span>
                {% else %}
                <span>
                    <button class="w3-btn w3-red">-</button>
                    <button class="w3-btn"> {{employe.nombreheures}}</button>
                    <button class=" w3-btn w3-green">+</button>
                </span>
                {% endif %}
            </td>

            <td><a href="{{path('app_delete_employe',{id: employe.id})}}"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}

    </table>


</div>
{% endblock %}