<!DOCTYPE html>
<html>

<head>
    <title>SimpleDuc - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


<body>
    <div class="w3-padding-24"></div>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="{{path('app_base')}}" class="w3-bar-item w3-button"><b>S</b>imple<b>D</b>uc</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="{{path('app_base')}}#projects" class="w3-bar-item w3-button">Nos projets</a>
                <a href="{{path('app_base')}}#about" class="w3-bar-item w3-button">À propos</a>
                <a href="{{path('mention')}}" class="w3-bar-item w3-button">Mentions légales</a>
                <a href="{{path('app_base')}}#contact" class="w3-bar-item w3-button">Contactez-nous</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{path('app_login')}}" class="w3-bar-item w3-button"><i class="fa fa-folder"></i></a>
                <a href="{{path('app_profil')}}" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="{{path('app_logout')}}" class="w3-bar-item w3-button"><i class="fa fa-close"></i></a>


                {% endif %}
            </div>
        </div>
    </div>
    {% for message in app.flashes('notice') %}
    <div class="w3-panel w3-green">
        <h3>Succès !</h3>
        <p> {{ message }}</p>

    </div>
    {% endfor %}

    {% block body %}

    {% endblock %}


</body>

</html>